body{
font-family: Trebuchet MS;
margin: 0px;
max-width: 100%;
overflow-x: hidden;
}

::selection
{
	color: #C1FF09;
	background: #009FA1;

;
}
h1.mainhead{
font-family: Monaco;
height: 100px;
margin: 0px;
font-size: 60px;
display:flex;
align-items: center;
justify-content: center;
color: #009FA1;
}


.mainarea
{
	margin: 20px;
}


h1.subhead{
color: #009FA1;

font-family: Monaco;
font-size: 35px;
}
p{
	margin: 0px;
}

.flexitem:hover
{
	box-shadow: 2px 2px 10px 5px grey;
	transition-property:box-shadow ;
	transition-duration: 1s;
}

.container {
  display: flex;
outline: 2px solid red;}

.flexitem {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  outline: 2px solid blue;}

}


div.headerbar
{
	height: 50px;
	background: #C1FF09;
	display: flex;
	flex-flow:row none;
	justify-content: center;
	align-items: center;
	align-content: space-around;
	outline:solid #04AA6D;
	
}
a.headerbar{
	background: #C1FF09;
	font-size: 25px;
	margin: 10px;
}
a.headerbar:link
{
	color: black;
	text-decoration: none;
}
a.headerbar:hover
{
background: white;
color: #009FA1;
}
a.headerbar:active
{
color: #C1FF09;
}
